/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.flex-space-around {
  display: flex;
  justify-content: space-around;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/************************************My Chenges********************************/
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px 0;
}
.top-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.top-header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.top-header nav a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
.bottom-header {
  width: 100%;
  background: lightcyan;
  margin-top: 30px;
  padding-bottom: 30px;
}
.bottom-header .myself {
  display: flex;
  align-items: center;
  width: 100%;
}
.bottom-header .myself .image-container {
  width: 50%;
  margin-top: 30px;
}
.bottom-header .myself .image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.bottom-header .myself .name {
  width: 50%;
  font-size: 4rem;
  font-family: 'Pacifico', cursive;
  line-height: 1.5;
}
.bottom-header .myself .name div {
  text-align: center;
}
.bottom-header .projects {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
  border-top: 1px solid lightgrey;
  padding-top: 20px;
}
.bottom-header .projects button {
  margin-top: 20px;
  width: 20%;
  background: greenyellow;
}
.bottom-header .projects button a {
  text-decoration: none;
  line-height: 1.5;
}
@media screen and (max-width: 600px) {
  header {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
  }
  header .bottom-header .myself .name {
    font-size: 2.5rem;
  }
}
.main-content {
  width: 100%;
  margin-top: 60px;
}
.main-content .top-sections {
  display: flex;
  justify-content: space-between;
}
.main-content .top-sections section {
  width: 45%;
}
.main-content .top-sections section h2 {
  font-size: 3rem;
  font-family: 'permanet+marker', cursive;
  margin-bottom: 15px;
  text-align: center;
}
.main-content .top-sections section p {
  font-size: 2rem;
  text-align: justify;
}
.main-content .top-sections section li {
  font-size: 2rem;
  line-height: 1.5;
  padding-left: 3%;
  border: 1px solid lightgrey;
}
.main-content .bottom-section {
  margin-top: 30px;
  width: 100%;
}
.main-content .bottom-section h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}
table {
  width: 100%;
  font-size: 2rem;
  border: 2px solid lightgrey;
}
table tr {
  line-height: 1.5;
  text-align: left;
}
table tr:nth-child(even) {
  background: lightgreen;
}
@media screen and (max-width: 500px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .main-content .top-sections {
    flex-direction: column;
    width: 100%;
  }
  .main-content .top-sections section {
    width: 100%;
    margin-bottom: 25px;
  }
  .main-content .bottom-section h2 {
    font-family: 'permanent+marker', cursive;
    text-align: center;
  }
  .main-content .bottom-section table {
    font-size: 1.5rem;
  }
}
footer {
  margin: 30px 0 30px;
  padding: 30px 0 25px;
  font-size: 3rem;
  text-align: center;
  background: grey;
}
